/*****MOBILE-FIRST CSS*****/
/**************************/

/*****1. ALL FORMATS*****/

/*****A. ROOT AND MAIN ELEMENTS*****/

*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: justify;
}

main {
    background: center / cover repeat-y url("../img/body/Flying_plane.jpg");
}

.center {
    text-align: center;
}

/*****B. SECTIONS*****/

section {
    margin: 0 2.5rem;
}

section:first-of-type {
    padding-top: 1rem;
}

section:last-of-type {
    padding-bottom: 1rem;
}

/*****C. TITLES*****/

h1, h2, h3, h4, .logo p {
    font-family: 'Carter One', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: rgba(50, 60, 255, 1);
    text-transform: uppercase;
    border-bottom: 0.2rem solid rgba(50, 60, 255, 1);
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    color: rgba(255, 20, 20, 0.8);
    text-shadow: rgba(255, 80, 80, 0.8) 0.1rem 0.1rem 2rem;
}

h3 {
    font-size: 2rem;
    color: rgba(230, 230, 230, 1);
    text-decoration: underline;
}

figure h3 {
    font-size: 1.8rem;
    color: inherit;
}

figure h3::after {
    display: none;
}

h4 {
    font-size: 1.8rem;
}

/*****D. BULLETED LISTS*****/

ul {
    list-style: none;
    padding-left: 0;
}

/*****E. LINKS*****/

a {
    color: rgba(255, 20, 20, 0.8);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}

.redirect {
    display: block;
    text-align: center;
}

/*****F. IMAGES AND FONT AWESOME ICONS*****/

img {
    max-width: 100%;
    margin: 0;
}

/*****G. CART'S LOGO*****/

.shop {
    position: fixed;
    top: 13.5rem;
    border: 0.2rem solid rgba(55, 55, 55, 1);
    border-radius: 0 10rem 10rem 0;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
    background-color: rgba(150, 215, 255, 1);
    padding-right: 1rem;
    z-index: 10;
}

.shop i {
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.shop a {
    color: rgba(240, 255, 230, 0.8);
    text-decoration: underline;
}

/*****H. DESTINATIONS PAGE*****/

/*****i. Paragraphs and links*****/

.buy div {
    text-align: center;
}

.buy a {
    display:block;
    text-align: center;
}

/*****ii. Average rating stars*****/

.global-rating1 i:nth-child(1) {
    color: rgba(255, 100, 0, 1);
}

.global-rating2 i:nth-child(1), .global-rating2 i:nth-child(2) {
    color: rgba(255, 100, 0, 1);
}

.global-rating3 i:nth-child(1), .global-rating3 i:nth-child(2), .global-rating3 i:nth-child(3) {
    color: rgba(255, 100, 0, 1);
}

.global-rating4 i:nth-child(1), .global-rating4 i:nth-child(2), .global-rating4 i:nth-child(3),
.global-rating4 i:nth-child(4) {
    color: rgba(255, 100, 0, 1);
}

.global-rating5 i:nth-child(1n) {
    color: rgba(255, 100, 0, 1);
}

/*****iii. Buying button*****/

.buy button {
    background: rgba(70, 70, 255, 1);
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    display: block;
    margin: 1.5rem auto 2rem;
}

.buy button:hover {
    background: rgba(70, 255, 20, 0.8);
    border-color: rgba(255, 30, 30, 1);
}

/*****I. DESTINATION REVIEWS PAGE*****/

/*****i. Rating stars*****/

.total-rating1 i:nth-child(1) {
    color: rgba(255, 100, 0, 1);
}

.total-rating2 i:nth-child(1), .total-rating2 i:nth-child(2) {
    color: rgba(255, 100, 0, 1);
}

.total-rating3 i:nth-child(1), .total-rating3 i:nth-child(2), .total-rating3 i:nth-child(3) {
    color: rgba(255, 100, 0, 1);
}

.total-rating4 i:nth-child(1), .total-rating4 i:nth-child(2), .total-rating4 i:nth-child(3),
.total-rating4 i:nth-child(4) {
    color: rgba(255, 100, 0, 1);
}

.total-rating5 i:nth-child(1n) {
    color: rgba(255, 100, 0, 1);
}

/*****ii. Paragraphs*****/

.reviews {
    text-align: center;
}

.reviews p {
    font-style: italic;
    border-bottom: 0.2rem solid rgba(175, 175, 175, 0.8);
    padding-bottom: 1rem;
}

/*****iii. Quotations*****/

.reviews q {
    font-weight: 600;
    color: rgba(255, 20, 20, 0.8);
    display: block;
    padding-top: 1.5rem;
}

.reviews blockquote {
    color: rgba(255, 255, 255, 1);;
}

blockquote::before {
    content: "“";
}

blockquote::after {
    content: "”";
}

/*****2. MOBILE (PORTRAIT)*****/

/*****A. HEADER AND FOOTER*****/

/*****i. Common properties*****/

header, footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header nav a, footer nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    text-transform: uppercase;
}

header nav ul li:hover, footer nav ul li:hover {
    background-color: rgba(55, 150, 195, 0.8);
}

.active {
    background-color: rgba(245, 245, 245, 1);
    color: rgba(30, 30, 30, 0.8);
}

/*****ii. Header specificities*****/

header {
    background: center / cover no-repeat url("../img/header-footer/Mount_Fuji.jpg");
}

.fa-user-alt, .fa-user-lock {
    padding-right: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}

.logo img {
    width: 30%;
}

.logo p {
    text-align: center;
    color: rgba(250, 100, 20, 1);
}

/*****iii. Footer specificities*****/

footer {
    background: center / cover no-repeat url("../img/header-footer/Rising_sun.jpg");
}

footer address {
    text-align: center;
}

.fab {
    font-size:3rem;
}

/*****B. MODAL*****/

.modal {
    text-align: center;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 230px;
    border-radius: 1.3rem;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 240, 250, 1);
    z-index: 10;
}

.modal button {
    display: inline-block;
    margin: 0 0.9rem;
    padding: 1rem;
    border: 0.2rem solid rgba(240, 240, 240, 1);
    border-radius: 1.5rem;
    font-weight: 900;
}

.add-article {
    background: rgba(70, 70, 255, 1);
}

.add-not-article {
    background: rgba(255, 70, 70, 1);
}

.modal button:hover {
    background: rgba(70, 255, 20, 0.8);
    border-color: rgba(255, 30, 30, 1);
}

/*****C. FORMS*****/

/*****i. Labels, stars, messages and checkbox*****/

label, .mandatory, .error, .success, .connected, .rate {
    font-weight: 600;
    display: block;
    text-align: center;
}

.error {
    color: rgba(240, 20, 40, 1);
}

.success {
    color: rgba(20, 140, 90, 1);
}

.remember-user, .stars {
    text-align: center;
}

.remember-user label, .remember-user input {
    display: inline-block;
    width: initial;
}

.remember-user label {
    padding-right: 0.5rem;
}

/*****ii. Selects, imputs and textareas*****/

select {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 2rem;
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1rem;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1rem;
    text-align: center;
}

input:hover, textarea:hover {
    background: rgba(70, 200, 20, 0.3);
}

input[type=submit] {
    background: rgba(70, 70, 255, 1);
    border-radius: 1.5rem;
    font-weight: 900;
}

input[type=submit]:hover {
    background: rgba(70, 255, 20, 0.8);
    border-color: rgba(255, 30, 30, 1);
}

/*****iii. Review form*****/

.stars {
    margin-bottom: 2rem;
}

/*****iv. Payment form*****/

.form-payment {
    background-color: rgba(240, 240, 240, 1);
}

.card-button {
    background: rgba(70, 255, 20, 0.8);
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1.5rem auto auto;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: 900;
}

.card-button:hover {
    background: rgba(70, 70, 255, 1);
    border-color: rgba(255, 30, 30, 1);
}

/*****D. TABLES*****/

table {
    margin: auto;
    width: 100%;
}

table thead {
    display: none;
}

table tr, table td {
    display: block;
    border: 0.1rem solid rgba(10, 10, 10, 1);
}

table td {
    text-align: right;
    padding: 1rem;
}

table td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
}

table td:nth-child(odd) {
    background-color: rgba(255, 255, 255, 1);
}

table td:nth-child(even) {
    background-color: rgba(200, 200, 200, 1);
}

/*****E. HOMEPAGE*****/

/*****i. Link to the Destinations page*****/

.mobile-more {
    display:block;
    margin: auto;
    background: rgba(70, 255, 20, 0.8);
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1.5rem;
    text-align: center;
}

.mobile-more:hover {
    color: inherit;
    background: rgba(70, 70, 255, 1);
    border-color: rgba(255, 30, 30, 1);
}

/*****ii. Slider*****/

.scroll-slider {
    display: none;
}

/*****F. ADMIN DASHBOARDS*****/

/*****i. Links*****/

.admin-links a {
    display:flex;
    justify-content: center;
}

/*****ii. Table buttons*****/

.user-deletion::before, .review-deletion::before {
    padding: 17.5px 0;
}

.user-deletion input, .review-deletion input {
    background: rgba(255, 70, 70, 1);
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    display: block;
    margin: 1rem auto;
    width: 60%;
}

.user-deletion input:hover, .review-deletion input:hover {
    background: rgba(70, 255, 20, 0.8);
    border-color: rgba(255, 30, 30, 1);
}

/*****G. CART PAGE*****/

/*****i. Paragraphs and links*****/

.filled-cart p {
    text-align: center;
}

.filled-cart > a, .amount a {
    display: block;
    text-align: center;
    margin: 1.5rem auto;
}

/*****ii. Button for cart emptying*****/

.clear-cart {
    background: rgba(255, 70, 70, 1);
    border: 0.2rem solid rgba(0, 0, 0, 1);
    border-radius: 1.5rem;
    font-weight: 900;
    padding: 1rem;
    display: block;
    margin: 2.5rem auto 1.5rem auto;
}

.clear-cart:hover {
    background: rgba(70, 255, 20, 0.8);
    border-color: rgba(255, 30, 30, 1);
}

/*****H. SUCCESS PAGE*****/

audio, audio p {
    display: block;
    margin: 1.5rem auto;
}

.media, audio p {
    text-align: center;
}

.media {
    font-style: italic;
}

/*****3. MOBILE (LANDSCAPE)*****/

@media screen and (min-width: 576px) {
    
/*****A. HEADER AND FOOTER*****/

/*****i. Common properties*****/

    header nav ul, footer nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    header nav li, footer nav:nth-of-type(1) li {
        flex-basis: 50%;
    }
    
/*****ii. Header specificities*****/

    .logo {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1.6rem;
    }
    
/*****iii. Footer specificities*****/
    
    footer nav ul {
        flex-wrap: wrap;
    }
    
    footer nav:nth-of-type(2) li {
        flex-basis: 25%;
    }
    
/*****B. CART's LOGO*****/

    .shop {
        top: 12rem;
    }
    
/*****C. MODAL*****/
    
    .modal {
        width: 28rem;
        height: 17.5rem;
    }
    
    .modal button {
        display: inline-block;
        margin: 0 3rem;
        padding: 1.2rem;
        font-weight: 900;
    }
    
/*****D. TABLES*****/

    table {
        width: 80%;
    }
    
/*****E. FORMS*****/

/*****i. Selects, inputs and textareas*****/

    select, input, textarea {
        display: block;
        margin: 0 auto 20px;
        width: 60%;
    }
    
/*****ii. Payment form*****/

    .card-button {
        width: 60%;
    }
    
/*****END OF THE MOBILE FORMATS*****/
}

/*****4a. TABLET*****/

@media screen and (min-width: 768px) {
    
/*****A. HEADER*****/
    
    .logo {
        justify-content: center;
        padding-right: 0;
    }
    
/*****B. FORMS*****/

    select, input, textarea, .card-button {
        width: 50%;
    }
    
/*****C. DESTINATIONS PAGE*****/

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .buy {
        flex-basis: 50%;
    }

/*****D. HOMEPAGE*****/
    
/*****i. Link to the Destinations page*****/

    .mobile-more {
        display:none;
    }

/*****ii. Slider*****/

    .scroll-slider {
        display: block;
        width: 70%;
        overflow: auto;
        white-space: nowrap;
        margin: 0 auto;
        background-color: rgba(240, 240, 240, 1);
        scroll-snap-type: x mandatory;
    }
    
    .content {
        display: inline-block;
        scroll-snap-align: start;
    }
    
    .content figure {
        box-shadow: 0.5rem 0.5rem 1rem rgba(85, 75, 65, 0.5);
        transition: transform 0.5s;
        position: relative;
    }
    
    .content figure:hover {
    	transform: scale(1.05);
    }
    
    .content figcaption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.8s all;
    }
    
    .content figcaption h2::before, .content figcaption h2::after {
        content:"";
    }
    
    .content figure:hover figcaption {
	    opacity: 1;
    }
    
    .content h2, .content a {
        color: rgba(255, 255, 255, 1);
    }
    
    .content h2 {
        font-size: 4rem;
    }
    
    .content a {
        display: block;
        text-align: center;
        font-size: 2.5rem;
        animation: button-effect 2.5s linear infinite;
    }
    
    .content a:hover {
        animation-play-state: paused;
    }
    
/*****E. DESTINATION REVIEWS PAGE*****/

    .reviews {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .review-content {
        flex-basis: 50%;
    }

/*****END OF THE TABLET FORMAT*****/
}

/*****4b. BUTTON-EFFECT ANIMATION FOR THE SLIDER*****/

@keyframes button-effect {

    33% {
        background: rgba(255, 70, 70, 1);
        border: 0.4rem solid rgba(0, 0, 0, 1);
        
    }
    
    66% {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border-radius: 5rem;
    }
    
/*****END OF THE BUTTON-EFFECT ANIMATION*****/
}

/*****5. DESKTOP*****/

@media screen and (min-width: 992px) {
    
/*****A. FOOTER*****/

    footer nav:nth-of-type(1) li {
        flex-basis: 25%;
    }
    
/*****B. ADMIN REVIEW DELETION BUTTON*****/

    .review-deletion input {
        width: 100%;
    }

/*****C. TABLES*****/

    table {
        border-collapse: collapse;
    }

    table thead {
        display: table-header-group;
    }
    
    table tr {
        display: table-row;
    }
    
    table th, table td {
        text-align: center;
        border: 0.2rem solid rgba(10, 10, 10, 1);
        padding: 1rem;
    }
    
    table th {
        background-color: rgba(200, 200, 200, 1);
    }
    
    table td:nth-child(1n+0) {
        display: table-cell;
        background-color: rgba(255, 255, 255, 1);
    }
    
    table td:before {
        content: "";
    }
    
/*****D. ARTICLES*****/
    
    .buy {
        flex-basis: 30%;
    }
  
/*****END OF THE DESKTOP FORMAT*****/ 
}

/*****6. LARGE DESKTOP*****/

@media screen and (min-width: 1200px) {
    
/*****A. CONTAINER*****/

    .container {
        max-width: 1100px;
        margin: auto;
    }
    
/*****B. HOMEPAGE*****/

    .scroll-slider {
        width: 60%;
    }

/*****END OF THE LARGE DESKTOP FORMAT*****/ 
}